.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	background-color: #fff;
	color: rgb(255, 50, 50);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
}

.navbar-left {
	font-size: 2.5rem;
	cursor: pointer;
}

.navbar-right {
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-right ul {
	list-style: none;
	display: flex;
}

.navbar-right ul a {
	display: inline-block;
	text-transform: uppercase;
	color: #000;
	bottom: 10px;
}

.navbar-right ul a:after {
	content: "";
	display: block;
	border-bottom: solid 3px rgb(255, 50, 50);
	transform: scaleX(0);
	transition: all 250ms ease-in-out;
}

.navbar-right ul a.expand-to-left:hover:after {
	transform: scaleX(1);
}

.navbar-right ul a.expand-to-left:after {
	transform-origin: 0% 50%;
}

.navbar-right ul a.expand-to-left:hover {
	color: rgb(255, 50, 50);
}

.menu-icon {
	display: inline-block;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

/* Begin Css for icon menu */
.menu-icon-bar1,
.menu-icon-bar2,
.menu-icon-bar3 {
	width: 30px;
	height: 5px;
	background-color: #000;
	margin: 4px 0;
	transition: 0.4s;
}

.active .menu-icon-bar1 {
	-webkit-transform: rotate(-45deg) translate(-8px, 5px);
	transform: rotate(-45deg) translate(-8px, 5px);
}

.active .menu-icon-bar2 {
	opacity: 0;
}

.active .menu-icon-bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, 5px);
	transform: rotate(45deg) translate(-8px, -5px);
}
/* End Css for icon menu */

.shrink {
	height: 50px;
	position: fixed;
	top: 0;
	transition: all 0.2s ease-in-out;
	padding: 20px 20px;
}

.shrink-top {
	transition: all 0.2s ease-in-out;
	padding: 40px 40px;
}

@media screen and (max-width: 1650px) {
	.navbar-right ul li a {
		transition: all 0.2s ease;
	}
}

@media screen and (max-width: 1350px) {
	.navbar-right ul li a {
		font-size: 1.2rem;
		transition: all 0.2s ease;
	}
}

@media screen and (max-width: 1250px) {
	.navbar-right ul li a {
		font-size: 1rem;
		transition: all 0.2s ease;
	}
}

@media screen and (max-width: 1180px) {
	.navbar-right ul {
		display: flex;
		flex-direction: column;
		width: 20%;
		height: 100vh;
		position: absolute;
		top: 0;
		right: -100%;
		opacity: 1;
		transition: all 0.5s ease;
		justify-content: flex-start;
	}

	.navbar-right ul.navbar-menu-active {
		padding-top: 100px;
		background: rgb(242, 242, 242);
		right: 0;
		opacity: 1;
		transition: all 0.5s ease;
		box-shadow: 1px 1px 10px rgb(190, 190, 190);
		z-index: 1;
		overflow: hidden;
	}
}
